@import "tailwindcss";

@theme {
  --font-sans: "SF Pro Display", "Inter", "PingFang SC", sans-serif;
  --color-klein: #002FA7;
}

body {
  font-family: var(--font-sans);
  background-color: #FFFFFF;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
